.bg-img1 {
  background-color: #000;
  background-size: cover;
  max-height: 700px !important;
  max-width: 100% !important;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  max-height: 700px !important;
  max-width: 100% !important;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  max-height: 700px !important;
  max-width: 100% !important;
}
